.hover-underline-animation ul li a {
  position: relative;
}

.hover-underline-animation ul li a:not([aria-current="page"]):after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  @apply bg-white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation ul li a[aria-current="page"]:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(1);
  height: 1px;
  bottom: 0;
  left: 0;
  @apply bg-white;
}

.hover-underline-animation ul li a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}