/*body:not(.home) {
  .navbar {
    background-image: linear-gradient(to right, #46c2ff, #4fbbff, #5db4ff, #6eacff, #80a3ff, #a39ef9, #bf98f0, #d793e4, #ee98cf, #f8a3bf, #f9b0b6, #f4bfb6);
  }
}*/

.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: $navigation-height-mobile;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;

  @media (min-width: $resolution-xl) {
    position: relative;
    margin: 0;
    height: $navigation-height;
    background: transparent;
  }

  &--bg {
    background-image: linear-gradient(to right, #46c2ff, #4fbbff, #5db4ff, #6eacff, #80a3ff, #a39ef9, #bf98f0, #d793e4, #ee98cf, #f8a3bf, #f9b0b6, #f4bfb6);
  }

  &--bg-on-toggle {
    background-image: linear-gradient(to right, #46c2ff, #4fbbff, #5db4ff, #6eacff, #80a3ff, #a39ef9, #bf98f0, #d793e4, #ee98cf, #f8a3bf, #f9b0b6, #f4bfb6);
  }

  &__logo {
    display: flex;
  }

  &__nav-mobile {
    position: fixed;
    width: 100%;
    background-image: linear-gradient(to right, #46c2ff, #4fbbff, #5db4ff, #6eacff, #80a3ff, #a39ef9, #bf98f0, #d793e4, #ee98cf, #f8a3bf, #f9b0b6, #f4bfb6);
    overflow: hidden;
    height: 0;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    top: $navigation-height-mobile;
    z-index: 5;
    left: 0; //IE fix

    ul {
      margin: 30px 0;
      padding: 0;
      text-align: center;

      li {
        height: 100%;
        line-height: 48px;
        display: block;
        padding: 0;

        &.current_page_item {
          > a {
            //color: $primary;
          }
        }

        a {
          @include font-size(20);
          display: block;
          margin-bottom: $s;
          color: $white;
          font-weight: 700;
        }
      }
    }
  }

  &__nav-desktop {
    display: none;
    //flex: 1;
    justify-content: flex-end;

    ul {
      display: flex;
      align-items: center;
      list-style: none;
      padding: 0;

      li {
        @apply pl-12;

        a {
          @include font-size(20);
          font-weight: 400;
          color: $white;
          transition: 1s ease;
        }
      }
    }
  }

  &__toggle {
    display: flex;
    padding: 22px 9px 22px 9px;
    cursor: pointer;
    z-index: 5;
    background: $white;
    border-radius: 50%;

    @media (min-width: $resolution-xl) {
      display: none;
    }

    &--open i {
      background: transparent;

      &:before {
        background: $primary;
        top: 0;
        transform: rotate(135deg);
      }

      &:after {
        background: $primary;
        top: 0;
        transform: rotate(225deg);
      }
    }
  }

  &__toggle-icon {
    display: inline-block;
    position: relative;
    width: 28px;
    height: 3px;
    background-color: $primary;
    transform: rotate(0);
    transition: transform 300ms 100ms;

    &:before, &:after {
      content: '';
      display: inline-block;
      position: absolute;
      width: 28px;
      height: 3px;
      background-color: $primary;
      transform: rotate(0);
      transition: transform 300ms 100ms;
    }

    &:before {
      top: -8px;
    }

    &:after {
      top: 8px;
    }
  }

  &__switcher {
    @apply p-1 border-white border-[1px] rounded-md cursor-pointer mr-auto;

    &--desktop {
      @apply hidden lg:flex ml-10;
    }

    &--mobile {
      @apply flex lg:hidden mt-4 ml-auto;
    }

    &-button {
      @apply flex items-center justify-center w-28 h-10 text-center text-white;

      &--client {
        @apply mr-1;
      }
    }
  }
}

.page-id-15, .parent-pageid-15, .pomoc-sklep-template-single-shop-help{
  .navbar__switcher-button--client {
    @apply text-white border-none bg-none transition-all duration-300;

    &:hover {
      @apply bg-white rounded-md text-primary transition-all duration-300;
    }
  }

  .navbar__switcher-button--shop {
    @apply text-primary font-bold border-white border-[1px] rounded-md bg-white transition-all duration-300;

    &:hover {
      @apply bg-white rounded-md text-primary transition-all duration-300;
    }
  }
}

.parent-pageid-24, .home, .pomoc-template-single-help {
  .navbar__switcher-button--client {
    @apply text-primary font-bold border-white border-[1px] rounded-md bg-white transition-all duration-300;

    &:hover {
      @apply bg-white rounded-md text-primary transition-all duration-300;
    }
  }

  .navbar__switcher-button--shop {
    @apply text-white border-none bg-none transition-all duration-300;

    &:hover {
      @apply bg-white rounded-md text-primary transition-all duration-300;
    }
  }
}

/*.admin-bar {
  .navbar {
    margin-top: 32px;
  }
}*/

@media (min-width: $resolution-xl) {
  .navbar__nav-mobile {
    display: none
  }

  .navbar__nav-desktop {
    display: inline-flex;
  }
}
