/* Spacing */
$xs: 10px;
$s: 20px;
$m: 35px;
$l: 70px;
$xl: 120px;


/* Sizes */
$navigation-height: 5.625rem;;
$navigation-height-mobile: 5.625rem;


/* Colors */
$black: #2A2A2A;
$white: #fff;
$grey: #F2F3F2;
$blue: #0952D2;
$violet: #6377FE;
$yellow: #FDC10B;
$red: #F01414;
$green: #32D64A;

$primary: $violet;
$secondary: $yellow;
$text-color: $black;


/* Fonts */
$text-size: (18rem/18);

$h1-size: (54rem/18);
$h2-size: (44rem/18);
$h3-size: (30rem/18);
$h4-size: (24rem/18);
$h5-size: (18rem/18);


/* Resolutions */
$resolution-sm: 576px;
$resolution-md: 768px;
$resolution-lg: 992px;
$resolution-xl: 1200px;
$resolution-xxl: 1480px;


// Mixins
@mixin font-size($fontSize) {
    font-size: ($fontSize / 18) + rem;
}
